<div class="users">
  <h5>Find Users on GitHub with just their username</h5>
  <br />
  <div class="row">
    <div class="col-md-2">
      search:
    </div>
    <div class="col-md-6">
      <input
        type="search"
        placeholder="username"
        [(ngModel)]="listFilter"
        (input)="searchUsers()"
      />
    </div>
  </div>

  <div class="text-center">
    <p>{{ listFilter }}</p>
  </div>

  <div>
    <!-- each user card goes here -->
    <div class="card" *ngIf="users && users.length">
      <!-- show users card -->

      <div class="card" style="width: 18rem" *ngFor="let user of filteredUsers">
        <img [src]="user.imageUrl" alt="" class="card-img-top" />

        <div class="card-header">
          {{ user.fullName }}
          <p>{{ user.username }}</p>
        </div>
        <div class="card-body">
          <p>{{ user.following }} following</p>
          <p>{{ user.followers }} followers</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
