<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img
          src="./assets/images/github-logo.png"
          class="img-responsive center-block"
          style="max-height:300px;padding-bottom:50px"
        />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Uchenna Sylvester</h3>
      </div>

      <div class="text-center">
        <a href="https://twitter.com/UCylvester" target="_blank">@UCylvester</a>
      </div>
      <div class="text-center">
        <a href="http://github.com/UcheSylvester" target="_blank"
          >Uche Sylvester on GitHub</a
        >
      </div>
    </div>
  </div>
</div>
